html,
body {
  height: 100%;
  margin: 0;
  background: #42a5f5;
}

.scale-up-bl {
  -webkit-animation: scale-up-bl 1s cubic-bezier(0.165, 0.84, 0.44, 1) alternate
    both;
  animation: scale-up-bl 1s cubic-bezier(0.165, 0.84, 0.44, 1) alternate both;
}
